<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600000" />
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Client_ID" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    
    <client>
      <endpoint address="http://quilldigitalservice.co.uk/QuillServerService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
        contract="QuillWebServices.WebServiceSoap" name="WebServiceSoap" />
    </client>
  </system.serviceModel>
  
</configuration>